$sans_serif: 'Scala Sans', 'Gill Sans', sans-serif;
$display: 'Optima', 'Linux Biolinum', sans-serif;
$monospace: 'Courier', monospace;
$highlight_colour: #fff49b;
$text_colour: #181818;
$success_colour: #e5ffd9;
$error_bg_colour: #ffeaea;
$light_blue_colour: #eff8ff;
html {
  margin: 0;
  padding: 0;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: 'liga' on;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: slashed-zero;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
  font-kerning: normal;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  box-sizing: border-box;
}
a.btn, input[type='submit'], button {
  font-family: $sans_serif;
  //display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  border: 1px solid #c3c3c3;
  border-radius: 4px !important;
  -webkit-appearance: none;
  &:hover {
    color: $text_colour;
    border: 1px solid #838383;
  }
  &.active, &:focus, &:active {
    outline: none;
    color: $text_colour;
  }
  &.active, &:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:disabled {
    cursor: not-allowed;
    color: #aaa;
    text-decoration: line-through;
  }

  &.dangerous {
    color: #c00;
    border-color: #c00;
    &.active, &:active {
      -webkit-box-shadow: inset 0 3px 5px rgba(204, 0, 0, .125);
      box-shadow: inset 0 3px 5px rgba(204, 0, 0, .125);
    }
  }

  &.no_action:not(:active), &.progress:not(:active) {
    border-color: #fff;
  }
  &.progress {
    cursor: progress;
    opacity: 0.5;
  }

}
.dangerous {
  color: #c00 !important;
  border-color: #c00 !important;
}
.ext {
  cursor: alias !important;
}
a.ext {
  &.btn {
    cursor: alias;
  }
}

.pnt {
  cursor: pointer;
}

input {
  width: auto;
  word-wrap: normal;
}

select, textarea, input[type='number'],  input[type='time'], input[type='date'], input[type='datetime-local'], input[type='text'], input[type='url'], input[type='email'], input[type='password'], input[type='tel'] {
  border: none;
  outline: none;
  padding: 4px 6px;
  -webkit-overflow-scrolling: touch;
}
input[type='number'], input[type='time'], input[type='date'], input[type='datetime-local'], input[type='url'], input[type='text'], input[type='email'], input[type='password'], input[type='tel'] {
  width: 90%;
  height: 15px;
  box-shadow: none;
  border-bottom: 1px solid #c3c3c3;
  &:hover, &:active, &:focus {
    border-bottom: 1px solid #838383;
  }
  &.highlight {
    background: $highlight_colour !important;
  }
}
input[type='file'] {
  background: none;
  padding: 4px;
  width: auto;
  max-width: 280px;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: none !important;
}
input.disabled {
  cursor: not-allowed;
  color: #aaa;
  background: #efefef;
}
select {
  height: 27px;
  border: 1px solid #c3c3c3;
  border-radius: none;
  -webkit-border-radius: none;
  &:hover, &:active {
    border: 1px solid #838383;
  }
  &:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }

}
textarea {
  box-shadow: none;
  border: 1px solid #c3c3c3;
  hyphens: none;
  width: 90%;
  resize: vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: pre-wrap;
  &:hover, &:active {
    border: 1px solid #838383;
  }
  &.fixed_rows {
    overflow: auto;
    resize: none;
    scrollbar-width: none;
  }
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a.btn, button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input, textarea, select {
  border-radius: 0px !important;
}
a.btn, button, input, textarea, select {
  background: #fff;
  font-family: $sans_serif;
  -webkit-transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  -moz-transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  transition: background-color 0.15s, border 0.15s, box-shadow 0.15s;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: inherit;
  line-height: 130%;
  text-decoration: none;
  &:hover, &:active, &:focus {
    outline: none;
  }
}
div.flex-group {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: left;
  .flex-group-item {
    flex: 1 1 auto;
  }
  .flex-group-item+.flex-group-item {
    @media(max-width: 600px) {
      margin-top: 5px;
    }
  }
  .flex-group-item:nth-child(2n) {
    text-align: right;
  }
}
div.flex_options {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: flex-start;
  justify-content: left;
  div.flex_option {
    flex: 0 1 auto;
    width: 55px;
    &.btn_option {
      line-height: 180%;
    }
    &.auto_width {
      width: auto;
      padding-left: 3px;
    }
    &.border_right {
      border-right: 1px dotted #ccc;
      padding-right: 8px;
    }
    &.mobile_non_auto {
      @media (max-width: 700px) {
        width: 160px;
      }
    }
  }
}
div.mobile-group + div.mobile-group {
  @media (max-width: 650px) {
    border-top: 1px dotted #888;
    margin-top: 15px;
    padding-top: 10px;
  }
}
div.settings_group {
  margin-left: 1rem;
  margin-bottom: 1rem;
  div.setting_title {
    font-weight: bold;
    margin-bottom: 0.3rem;
    >span {
      border-bottom: 1px dotted $text_colour;
    }
  }
  div.flex_options {
    border-left: 1px dotted $text_colour;
    padding: 0 1rem;
    div.flex_option {
      line-height: 2;
      margin-right: 0.25rem;
      span {
        cursor: pointer;
        padding: 2px 5px;
        border: 1px solid #c3c3c3;
        border-radius: 4px;
        background: #fff6;
        &.white {
          background: #fff;
        }
      }
      span.active {
        background-color: #fff;
        border-style: dashed;
        font-weight: bold;
        &.black:before {
          content: '\2713\20';
          font-size: 12px;
          color: #68b7d8;
        }
        &:not(.black) {
          background-color: #68b7d84d;
          border-color: royalblue;
        }
      }
    }
  }
}
form+form {
  border-top: 1px dashed #ccc;
  margin-top: 1rem;
  padding-top: 1rem;
}
.optional-group {
  border: 1px dashed #aaa;
  margin: 12px 0;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  .group-details {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px;
    background: #e5ffd9;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.form-group {
  &:not(.no_margin) {
    margin-bottom: 10px;
  }
  p.input_help {
    margin-bottom: 4px;
    font-size: smaller !important;
    display: block;
    width: 90%;
    a:not(.ext) {
      cursor: pointer;
    }
  }
  label, p.label {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 14px;
    @media (max-width: 600px) {
      font-size: 13px;
    }
    display: block;
    &.special {
      background: #dedede;
    }
    a:not(.ext) {
      cursor: pointer;
    }
    span.courant {
      font-weight: normal;
      &:before {
        content: '(';
      }
      &:after {
        content: ')\202f'
      }
    }
  }
  select, textarea, input {
    display: inline-block;
    font-size: 14px;
    @media (max-width: 600px) {
      font-size: 13px;
    }
  }
}
.special-group {
  background: #efefef;
  padding: 8px 3px;
  input[type='number'], input[type='time'], input[type='date'], input[type='datetime-local'], input[type='text'], input[type='url'], input[type='email'], input[type='password'], input[type='tel'] {
    background: #efefef;
  }

}
table {
  width: 100%;
  line-height: 110%;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 13px;
  border: 1px solid #ddd;
  border-collapse: separate;
  transition: background-color 0.15s ease-in-out;
  thead {
    th {
      padding: 3px;
      font-weight: 700;
      text-align: center;
      border-bottom: 1px solid #ddd;
      span.courant {
        &:before {
          font-weight: 400;
          content: '\20·\20';
        }
        &, * {
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
    th.sortable {
      background-image: url('../img/sort.gif');
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center left;
      padding-left: 15px;
      background-size: 15px;
    }
    th.left {
      text-align: left;
    }
    th.right {
      text-align: right;
    }
    th+th {
      //border-left: 1px solid #ddd;
    }
  }
  tbody {
    td {
      border: none;
      border-bottom: 1px solid #ddd;
      padding: 3px;
      text-align: left;
      vertical-align: middle;
      &.special_td {
        padding: 8px;
        background-color: #eee;
        div.form-group p, input, a.btn, button {
          font-size: inherit !important;
        }
        label {
          font-size: 12px;
        }
      }
    }
    td.key div.delete {
      margin-top: 1rem;
    }
    td div.extra_dose {
      margin-top: 4px;
    }
    td.expand_button {
      width: 68px;
    }
    td.no_value {
      color: #666;
      //text-align: center;
      //background-color: #efefef;
    }
    td.right {
      text-align: right;
    }
    td.na {
      background-color: #eee;
      color: #aaa;
    }
    td.pad_vertical {
      padding-top: 7px;
      padding-bottom: 7px;
      white-space: nowrap;
      @media(max-width: 650px) {
        overflow-x: scroll;
        a {
          font-size: 12px !important;
        }
      }
    }
    td+td {
      border-left: 1px solid #ddd;
    }
    //tr:first-child td:first-child {
    //  border-radius: 4px;
    //}
    tr:last-child >td {
      border-bottom: none;
    }
  }
}
table:not(.no_hover) {
  tbody {
    >tr:not:nth-child(2n+1) >td, tr:nth-child(2n+1) {
      background: #f6f6f6;
    }
    tr td {
      transition: background-color 0.1s ease;
    }
    tr:hover td {
      background: #f0f0f0;
    }
  }
}

table {
  tr.grey {
    background-color: #555;
  }
  tr.is_past {
  }
  tr.is_active {
    font-weight: bold;
  }

  tr.highlight {
    background-color: #eee;
    a.btn {
      background-color: #eee;
      border-color: #888;
    }
    &:hover td {
      background-color: #eee;
    }
    table {
      border-color: #888;
      tbody td {
        border-color: #888;
      }
      &:not(.no_hover) tbody tr:hover td {
        background-color: inherit;
        opacity: 0.6;
      }
    }
  }

}
tt, code, .code, pre {
  background: #fafafa !important;
  padding: 1px 4px;
  //border: 1px solid #c8c8c8;
}
pre.wrap {
  white-space: pre-wrap;
}
pre.code {
  // code block
  border-radius: 4px;
  display: block;
  margin-bottom: 2em;
}
.centre {
  text-align: center;
}
.no_wrap, .nowrap {
  white-space: nowrap;
  hyphens: none;
}
.akz {
  font-family: 'Akzidenz Grotesk', 'Univers', 'Helvetica', sans-serif;
}
.guillemets:before {
  content: '«\202F';
}
.guillemets:after {
  content: '\202F»';
}
