<div id='nav-header'>
  <h1>
    <span class='app_icon'>
      Covid-19 vaccination at {{ lab_name }}
    </span>
  </h1>
</div>


{% if user is defined and not user.get('must_change_pw') %}
<div id='nav-wrap'>
  <a class='{% if request.path == url_for(".index") %}active{% endif %}' target='_self' href='{{ url_for(".index") }}'>Lists</a>
</div>
<div id='nav-right'>
  <a class='{% if request.path == url_for(".contact_group") %}active{% endif %}' target='_self' href='{{ url_for(".contact_group") }}'>Assistance</a>
  <div class='dropdown_title' id='account_dropdown_toggle' onclick='toggleDropdown("account_dropdown")'>
    More <span class='caret' id='account_dropdown_caret'></span>
  </div>
  <div id='account_dropdown'>
    <ul>
      <li>{{ user.email }}</li>
      {% if user.level > 1 %}
      <li class='super_priv'><a class='{% if request.path == url_for(".control_admins") %}active{% endif %}' target='_self' href='{{ url_for(".control_admins") }}'>control admins</a></li>
      <li class='super_priv'><a class='{% if request.path == url_for(".new_admin") %}active{% endif %}' target='_self' href='{{ url_for(".new_admin") }}'>new admin</a></li>
      {% endif %}
      <li>
        <a class='{% if request.path == url_for(".export") %}active{% endif %}' href='{{ url_for(".export") }}' target='_self'>
          <span>export records</span>
        </a>
      </li>
      <li>
        <a class='{% if request.path == url_for(".change_pw") %}active{% endif %}' target='_self' href='{{ url_for(".change_pw") }}'>
          <span>change password</span>
        </a>
      </li>
      <li>
        <a target='_self' href='{{ url_for(".logout") }}'>
          <span>log out</span>
        </a>
      </li>
      <li onclick='toggleDropdown("account_dropdown")' title='close dropdown menu'>&minus;</li>
    </ul>
  </div>
</div>


{% elif user is defined and user.get('must_change_pw') %}
<div id='nav-right'>
  <a target='_self' href='{{ url_for(".logout") }}'>Log out</a>
</div>


{% else %}
<div id='nav-right'>
  <a class='ext' target='_blank' href='{{ lab_site }}'>{{ lab_name }} homepage</a>
</div>
{% endif %}
