{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action has_art cp'>
  <div class='cp art'>
  </div>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Change password</h4>
      </div>
      {% if detail_text is defined %}
      <div class='detail_block'>
        {{ detail_text|safe }}
      </div>
      {% endif %}
      <div class='detail_block'>
        <p>Changing your password will provoke the closure of all open Admin sessions&mdash;except this one&mdash;across, potentially, multiple devices.</p>
      </div>
      <div class='form_block'>
        <form method='POST'>
          <div class='form-group'>
            <label for='curpassword'>Current password:</label>
            {{ form.hidden_tag() }}
            {{ form.curpassword(type='password', placeholder='current password', autofocus='', required='') }}
          </div>
          <div class='form-group'>
            <label for='newpassword'>New password <span class='courant'>longer than 6 characters, please</span>:</label>
            {{ form.newpassword(type='password', placeholder='desired new password', required='') }}
          </div>
          <div class='form-group'>
            <label for='newpassword2'>New password again:</label>
            {{ form.newpassword2(type='password', placeholder='reënter your new password', required='') }}
          </div>
          <div class='form-group'>
            <input type='submit' value='change &nbsp;&nbsp;&rarr;' />
          </div>
        </form>
        <div class='art_atrib'>
          Gabriel <span class='pc'>Mäleßkircher</span> &mdash; <span class='guillemets'>Saint Jean</span>, 1478, <em>retaillé</em>.
        </div>
      </div>
    </div>
  </div>
</li>
{% endblock %}
