{% extends 'login-base.html' %}
{% block content %}
<li class='item no_action'>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>List of Admin users</h4>
      </div>
      <div class='detail_block'>
        <div class='img_prefix astuce'>
          Click a username to copy into the deletion form below. <a href='{{ url_for(".new_admin") }}'>Create a new Admin user</a>.
        </div>
        <table>
          <thead>
            <tr>
              <th class='left'>username</th>
              <th class='left'>name</th>
              <th class='desktop left'>creator</th>
              <th>super-admin</th>
              <th class='left'>last login</th>
            </tr>
          </thead>
          <tbody>
            {% for u in admin_users %}
            {% if highlight and u.email == highlight %}
            <tr class='highlight'>
            {% else %}
            <tr>
            {% endif %}
              <td onclick='setToDelete("{{ u.email }}")' class='pnt no_hyphens'>{{ u.email }}</td>
              <td>{{ u.name }}</td>
              <td class='desktop'>{{ u.creator }}</td>
              <td class='centre'>{% if u.level > 1 %}&check;{% else %}<em>x</em>{% endif %}</td>
              <td class='no_hyphens'>{% if u.last_login %}{{ u.last_login.strftime('%Y-%m-%d') }}{% else %}<em>(never)</em>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</li>

<li class='item no_action has_art delete_user'>
  <div class='delete_user art'>
  </div>
  <div class='wrap'>
    <div class='admin_blocks'>
      <div class='title_block'>
        <h4>Delete an Admin user</h4>
      </div>
      <div class='detail_block'>
        Please enter the email address corresponding to the Admin account you would like to delete. The user will not be notified of their account deletion.
      </div>
      <div class='form_block'>
        <form method='POST'>
          {{ form.hidden_tag() }}
          <div class='form-group'>
            <label for='email'>Email address of Admin account to remove:</label>
            {{ form.email(type='email', placeholder='user’s email address (username)', required='') }}
          </div>
          <div class='form-group'>
            <label for='password'>Please re&euml;nter your password:</label>
            {{ form.password(type='password', placeholder='your password', required='') }}
          </div>
          <div class='form-group'>
            <input type='submit' value='delete user' />
          </div>
        </form>
        <div class='art_atrib'>
          Alessandro <span class='pc'>Grassani</span> &mdash; Navigli of Milan during the peak of the Covid-19 in the city, 2020.
        </div>
      </div>
    </div>
  </div>
</li>
  <script>
    function setToDelete(e) {
      document.getElementById('email').value = e;
    }
  </script>
{% endblock %}
