{% extends 'base.html' %}
{% block content %}
<header class='ns'>
  {% include 'admin_header.html' %}
</header>
<article class='no_footer'>
  <div class='wrap'>
    <ul id='feed' class='admin'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <li class='item no_action flashed'>
        <div class='wrap'>
          <div class='admin_blocks'>
            {% for message in messages %}
            <div class='detail_block'>
              {{ message|safe }}
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endif %}
      {% endwith %}


      {% raw %}
      <li class='item no_action' ng-controller='ToContactController'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='title_block'>
              <h4>To contact <span class='float_right circle_word success'>first step</span></h4>
            </div>
            <div class='detail_block'>
              <p><span class='circle_word numbers'>{{ npeople }}</span> persons <strong ng-if='$root.searched'>matching your search </strong>have yet to be contacted; we don&rsquo;t know if they&rsquo;re eligible nor if they&rsquo;re interested. <em>N.b.&#8239;:</em> even if you&rsquo;ve already contacted a person, they must be added here to be subsequently scheduled.</p>
            </div>
            <div class='form_block'>
              <div class='form-group special-group'>
                <a class='btn' ng-show='!show_add_person' ng-click='toggleAddPerson()'>&plus;&nbsp;&nbsp;add person</a><p class='float_right'><span class='circle_word success'>all people are first added here</span></p>
                <form id='add_person' ng-show='show_add_person' ng-submit='addPerson()'>
                  <div class='form-group'>
                    <p>Please enter the person&rsquo;s information. More fields will be available in later steps. (<a class='btn smsm nowrap' ng-click='show_add_person=false'>hide form</a>)</p>
                  </div>
                  <div class='form-group'>
                    <label for='tc_name'>Full name:</label>
                    <input ng-model='tc.name' id='tc_name' name='tc_name' type='text' placeholder='given name then family name' required />
                  </div>
                  <div class='form-group'>
                    <label for='tc_phone'>Phone number <span class='courant'>be sure to include a regional indicative</span>:</label>
                    <input ng-model='tc.phone' id='tc_phone' name='tc_phone' type='tel' placeholder='phone number' required />
                  </div>
                  <div class='form-group'>
                    <label for='is_walk_in'>Is this person a walk-in? <span class='courant'>ticking &lsquo;yes&rsquo; will accelerate the steps</span>:</label>
                    <div class='settings_group'>
                      <div class='flex_options' ng-init='tc.walk_in = true'>
                        <div class='flex_option auto_width'>
                          <span class='black' ng-class='{ active: tc.walk_in }' ng-click='tc.walk_in = true'>yes</span>
                        </div>
                        <div class='flex_option auto_width'>
                          <span class='black' ng-class='{ active: !tc.walk_in }' ng-click='tc.walk_in = false'>no</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='form-group' ng-class='{ no_margin: !result }'>
                    <input type='submit' value='add person' ng-disabled='!(tc.phone && tc.name)' />
                  </div>
                  <div ng-show='result' class='form-group no_margin' ng-class='{ success: result.ok == 1, error: result.ok !== 1 }'>
                    <p>{{ result.message }}.</p>
                  </div>
                </form>
              </div>
              <div class='form-group special-group no_margin' ng-if='(!people || npeople == 0) && !updateError'>
                <p><em>There are no people to contact</em>.</p>
              </div>
              <table class='no_hover to_contact' ng-if='people && npeople > 0' ng-class='{ "success": flash_success }'>
                <thead>
                  <tr>
                    <th class='left'>name</th>
                    <th class='left'>phone number</th>
                    <th class='left'>date added</th>
                    <th class='left desktop'>added by</th>
                    <th class='right'>&hellip;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='p in people' ng-class='{ highlight: p.expanded }' id='a{{ $index }}'>
                    <td ng-if='p.name' class='pnt' ng-click='expand($index,p)'>
                      {{ p.name }} <span ng-if='p.walk_in' class='float_right circle_word no_height'>walk-in</span>
                    </td>
                    <td ng-if='p.name'>{{ p.phone_national }}</td>
                    <td ng-if='p.name'>{{ p.ts }}</td>
                    <td ng-if='p.name' class='nowrap desktop'>{{ p.author }}</td>
                    <td ng-if='p.name' class='nowrap right expand_button'>
                      <a ng-click='expand($index,p)' class='btn smsm' ng-class='{ active: p.expanded }'><span ng-show='!p.expanded'>&plus;</span><span ng-show='p.expanded'>&minus;</span> expand</a>
                    </td>
                    <td ng-show='!p.name' colspan='5' class='special_td'>
                      <form ng-submit='savePerson($index-1)'>
                        <div class='form-group'>
                          <p>Please enter the following information to move {{ people[$index-1].name }} to the next step.
                          </p>
                        </div>
                        <div class='optional-group'>
                          <div class='group-details'>optional</div>
                          <div class='form-group'>
                            <label for='dob_{{ $index }}'>Date of birth <span class='courant'>optional</span>:</label>
                            <input class='expr_date' id='dob_{{ $index }}' name='dob_{{ $index }}' type='date' placeholder='yyyy-mm-dd' ng-model='people[$index-1].dob' min='{{ minDate | date:"yyyy-MM-dd" }}' max='{{ maxDate | date:"yyyy-MM-dd" }}' />
                          </div>
                          <div class='form-group no_margin'>
                            <label for='reason_{{ $index }}'>Notes or eligibility justification <span class='courant'>optional &middot; <a ng-click='$root.show_elig = true'>view phase information</a></span><span class='courant' ng-show='people[$index-1].dob && (((todayDate - people[$index-1].dob) / (1000 * 3600 * 24 * 365)) > 12)'><a ng-click='people[$index-1].justification="Older than 12."'>set justification as &lsquo;age&rsquo;</a></span>:</label>
                            <input placeholder='What makes the person eligible for vaccination?' id='reason_{{ $index }}' name='reason_{{ $index }}' type='text' ng-model='people[$index-1].justification' />
                          </div>
                        </div>
                        <div class='form-group'>
                          <label for='is_patient_{{ $index }}'>Is this person a clinic patient?</label>
                          <div class='settings_group'>
                            <div class='flex_options'>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: !people[$index-1].patient }' ng-click='people[$index-1].patient = false'>no</span>
                              </div>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: people[$index-1].patient }' ng-click='people[$index-1].patient = true'>yes</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endraw %}
                        {% if cc == 'US' %}
                        {% raw %}
                        <div class='form-group'>
                          <label for='is_hispanic_{{ $index }}'>Does this person identify as Hispanic?</label>
                          <div class='settings_group'>
                            <div class='flex_options'>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: !people[$index-1].is_hispanic }' ng-click='people[$index-1].is_hispanic = false'>no</span>
                              </div>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: people[$index-1].is_hispanic }' ng-click='people[$index-1].is_hispanic = true'>yes</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='form-group'>
                          <label>With which &lsquo;race&rsquo; does this person identify?</label>
                          <div class='settings_group'>
                            <div class='flex_options'>
                              <div class='flex_option auto_width' ng-repeat='c in ["none", "American Indian", "Asian", "Black", "Pacific Islander", "White"]'>
                                <span class='black' ng-class='{ active: people[$parent.$index-1].skin_colour === c }' ng-click='people[$parent.$index-1].skin_colour = c'>{{ c }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endraw %}
                        {% endif %}
                        {% raw %}
                        <div class='form-group flex-group' ng-class='{ no_margin: !save_result }'>
                          <div class='flex-group-item'>
                            <input type='submit' value='save &amp; move' />
                            <!-- Comment-out line above and uncomment line below if birth date and eligibility information are required fields in your country. -->
                            <!-- <input type='submit' value='save &amp; move' ng-disabled='!(people[$index-1].dob && people[$index-1].justification)' />-->
                          </div>
                          <div class='flex-group-item'>
                          <button class='dangerous' type='button' ng-click='deletePerson($index-1)'>delete record</button>
                          </div>
                        </div>
                        <div ng-show='save_result' class='form-group no_margin' ng-class='{ success: save_result.ok == 1, error: save_result.ok !== 1 }'>
                          <p>{{ save_result.message }}.</p>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='table_controls' ng-if='npeople > $root.pageSize'>
                <button class='previous btn smsm ns' ng-disabled='page == 0' ng-click='changePage(-1)'>previous</button>
                <span class='navnumbers'>
                  <span class='current_page'>{{ page + 1 }}</span>
                  &nbsp;of&nbsp;
                  <span ng-class='{ page_jumper: page < pages.length - 1 }' ng-click='changePage(pages.length - 1 - page)'>{{ pages.length }}</span>
                  <span ng-show='page === pages.length - 1 && pages.length > 3'>&nbsp;&middot;&nbsp;<a ng-click='changePage(-1 * (pages.length - 1))'>go to first</a></span>
                </span>
                <button class='next btn smsm ns' ng-disabled='page >= (pages.length - 1)' ng-click='changePage(1)'>next</button>
              </div>
              <div class='form-group error' ng-if='updateError'>
                <p>{{ updateError }}</p>
              </div>
            </div>
          </div>
        </div>
      </li>


      <li class='item no_action' ng-controller='WaitingController'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='title_block'>
              <h4>Waiting list <span class='float_right circle_word warning'>second step</span></h4>
            </div>
            <div class='detail_block'>
              <p><span class='circle_word numbers'>{{ npeople }}</span> persons <strong ng-if='$root.searched'>matching your search </strong>have been contacted, are eligible for and interested in vaccination but have not been scheduled.</p>
            </div>
            <div class='form-group error no_margin' ng-if='updateError'>
              <p>{{ updateError }}</p>
            </div>
            <div class='form_block'>
              <div class='form-group special-group no_margin' ng-if='(!people || npeople == 0) && !updateError'>
                <p><em>There are no people on the waiting list</em>.</p>
              </div>
              <table class='no_hover waiting' ng-if='people && npeople > 0' ng-class='{ "success": flash_success }'>
                <thead>
                  <tr>
                    <th class='left'>name</th>
                    <th class='left'>phone number</th>
                    <th class='left'>date of birth</th>
                    <th class='right'>&hellip;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='p in people' ng-class='{ highlight: p.expanded }' id='w{{ $index }}'>
                    <td ng-if='p.name' class='pnt' ng-click='expand($index,p)'>
                      {{ p.name }} <span ng-if='p.first_dose_receipt_recorded' class='float_right circle_word no_height'>dose 2</span> <span ng-if='p.walk_in && !p.first_dose_receipt_recorded' class='float_right circle_word no_height'>walk-in</span>
                    </td>
                    <td ng-if='p.name'>{{ p.phone_national }}</td>
                    <td ng-if='p.name && p.dob'>{{ p.dob | date: 'd MMM yyyy' }}</td>
                    <td ng-if='p.name && !p.dob' class='no_value'>&ndash;</td>
                    <td ng-if='p.name' class='right nowrap expand_button'>
                      <a ng-click='expand($index,p)' class='btn smsm' ng-class='{ active: p.expanded }'><span ng-show='!p.expanded'>&plus;</span><span ng-show='p.expanded'>&minus;</span> expand</a>
                    </td>
                    <td ng-show='!p.name' colspan='4' class='special_td'>
                      <form ng-submit='saveTime($index-1)'>
                        <div class='form-group'>
                          <p>Record created {{ people[$index-1].ts }} by <span class='nowrap'>{{ people[$index-1].author }}</span>. {{ people[$index-1].name }} (<span ng-show='!people[$index-1].patient'>not </span>a PFHC patient) was added to the waiting list on {{ people[$index-1].waiting_since }}.</p>
                          <p ng-if='p.justification'>Notes or eligibility justification provided: {{ p.justification }}.</p>
                        </div>
                        <div class='form-group' ng-if='people[$index-1].first_dose_receipt_recorded'>

                          <p>They are waiting here for their second dose. Their appointment for their first dose was {{ people[$index-1].first_dose_dt }}.</p>
                        </div>
                        <div class='form-group'>
                          <label for='pday_{{ $index }}'>Day for vaccine dose:</label>
                          <input class='expr_date' min='{{ firstJanuary | date:"yyyy-MM-dd" }}' type='date' id='pday_{{ $index }}' name='pday_{{ $index }}' placeholder='yyyy-mm-dd' ng-model='people[$index-1].possible_day' ng-change='getAvailableDates($index - 1)' />
                        </div>
                        <div class='form-group warning' ng-show='people[$index-1].possible_day && ((people[$index-1].possible_day - todayDate) / (1000 * 3600 * 24 * -1) > 1)'>
                          Attention: you&rsquo;re selecting a date in the past.
                        </div>
                        <div class='form-group'>
                          <label>Available times for vaccination <span ng-show='people[$index-1].available_times!==undefined' class='courant'><a class='btn smsm' ng-click='$root.saveFormat()'>use <span ng-show='$root.formatIndex===1'>international</span><span ng-show='$root.formatIndex===0'>12-hour</span> format</a></span>:</label>
                          <div class='settings_group' ng-show='people[$index-1].available_times && people[$index-1].available_times.length > 0'>
                            <div class='flex_options'>
                              <div class='flex_option auto_width tpc' ng-repeat='t in people[$index-1].available_times'>
                                <span class='white' ng-class='{ active: t[0] === people[$parent.$index-1].selected_time }' ng-click='people[$parent.$index-1].selected_time=t[0]'>{{ t[$root.formatIndex] }}</span>
                              </div>
                            </div>
                          </div>
                          <p ng-show='people[$index-1].available_times.length === 0'>
                            <em>There are no times available for the selected day</em>.
                          </p>
                          <p ng-show='people[$index-1].available_times==undefined'>
                            <em>Please select a day (today or later)</em>.
                          </p>
                        </div>
                        <div class='form-group' ng-show='people[$index-1].possible_day && people[$index-1].selected_time'>
                          <label>Confirm appointment:</label>
                          <p>{{ people[$index-1].possible_day | date: 'EEEE, d MMMM yyyy' }} at {{ people[$index-1].selected_time }}.</p>
                        </div>
                        <div class='form-group' ng-show='!people[$index-1].first_dose_receipt_recorded'>
                          <label>For the vaccine being administered, is a second dose required?</label>
                          <div class='settings_group'>
                            <div class='flex_options' ng-init='people[$index-1].single_dose = false'>
                              <div class='flex_option auto_width' ng-class='{ no_margin: people[$index-1].show_change_name }'>
                                <span class='black' ng-class='{ active: !people[$index-1].single_dose }' ng-click='people[$index-1].single_dose = false'>yes; Pfizer-BioNTech, Moderna</span>
                              </div>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: people[$index-1].single_dose }' ng-click='people[$index-1].single_dose = true'>no; J&amp;J/Janssen, 1st dose elsewhere</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='form-group optional-group warning' ng-show='people[$index-1].walk_in && !people[$index-1].first_dose_receipt_recorded'>
                          <p>{{ people[$index-1].name }} is a walk-in; recording receipt of a dose will be completed automatically upon scheduling this appointment. If the person is not in your presence for an appointment now and you are not recording a past appointment:</p>
                          <p><button type='button' class='btn smsm warning' ng-disabled='!(people[$index-1].pday || people[$index-1].selected_time)' ng-click='saveTime($index-1, true)'>schedule appointment only</button>.</p>
                        </div>
                        <div class='form-group flex-group' ng-class='{ no_margin: !result }'>
                          <div class='flex-group-item' ng-if='!people[$index-1].walk_in || people[$index-1].first_dose_receipt_recorded'>
                            <input type='submit' value='schedule &amp; move' ng-disabled='!(people[$index-1].pday || people[$index-1].selected_time)' />
                          </div>
                          <div class='flex-group-item' ng-if='people[$index-1].walk_in && !people[$index-1].first_dose_receipt_recorded'>
                            <input type='submit' value='given first dose' ng-disabled='!(people[$index-1].pday || people[$index-1].selected_time)' ng-show='!people[$index-1].single_dose' />
                            <input type='submit' value='given only dose' ng-disabled='!(people[$index-1].pday || people[$index-1].selected_time)' ng-show='people[$index-1].single_dose' />
                          </div>
                          <div class='flex-group-item'>
                            <button class='dangerous' type='button' ng-click='deletePerson($index-1)'>delete record</button>
                          </div>
                        </div>
                        <div ng-show='result' class='form-group no_margin' ng-class='{ success: result.ok == 1, error: result.ok !== 1 }'>
                          <p>{{ result.message }}.</p>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='table_controls' ng-if='npeople > $root.pageSize'>
                <button class='previous btn smsm ns' ng-disabled='page == 0' ng-click='changePage(-1)'>previous</button>
                <span class='navnumbers'>
                  <span class='current_page'>{{ page + 1 }}</span>
                  &nbsp;of&nbsp;
                  <span ng-class='{ page_jumper: page < pages.length - 1 }' ng-click='changePage(pages.length - 1 - page)'>{{ pages.length }}</span>
                  <span ng-show='page === pages.length - 1 && pages.length > 3'>&nbsp;&middot;&nbsp;<a ng-click='changePage(-1 * (pages.length - 1))'>go to first</a></span>
                </span>
                <button class='next btn smsm ns' ng-disabled='page >= (pages.length - 1)' ng-click='changePage(1)'>next</button>
              </div>
            </div>
          </div>
        </div>
      </li>


      <li class='item no_action' ng-controller='ScheduledController'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <div class='title_block'>
              <h4>Scheduled for vaccination <span class='float_right circle_word danger'>third step</span></h4>
            </div>
            <div class='detail_block'>
              <p><span class='circle_word numbers'>{{ npeople }}</span> persons <strong ng-if='$root.searched'>matching your search </strong>have been contacted, are eligible for vaccination and have been scheduled for their first or second dose.
              </p>
              <p>You are encouraged to move those who do not appear for their appointment back to the waiting list, where you can select an alternative time at your leisure.</p>
            </div>
            <div class='form-group error no_margin' ng-if='updateError'>
              <p>{{ updateError }}</p>
            </div>
            <div class='form_block'>
              <div class='form-group special-group' ng-show='(people && npeople > 0) || filteredDate'>
                <div class='form-group no_margin' ng-show='!filteredDate && !show_date_picker'>
                  <a class='btn sm' ng-click='show_date_picker=true'>filter appointments below by day</a>
                </div>
                <form ng-submit='update()' ng-show='show_date_picker'>
                  <div class='form-group'>
                    <div class='form-group'>
                      <p><em>N.b.&#8239;:</em> only those <em>currently scheduled</em> <span ng-show='min_filter_date && !$root.filterDate'>(dates after {{ min_filter_date | date: 'd MMM yyyy'}})</span> for a first or second dose will be shown below; choosing a date here will not display historical records.</p>
                    </div>
                    <div class='flex_options'>
                      <div class='flex_option auto_width'>
                        <label for='filter_date'>Please choose a date:</label>
                        <input name='filter_date' id='filter_date' class='expr_date' type='date' placeholder='yyyy-mm-dd' min='{{  ((min_filter_date) ? min_filter_date : firstJanuary) | date:"yyyy-MM-dd" }}' ng-model='$root.filterDate' />
                      </div>
                      <div class='flex_option auto_width'>
                        <button ng-disabled='!$root.filterDate' class='smsm' type='submit'>choose date</button>
                      </div>
                    </div>
                  </div>
                  <div class='form-group no_margin'>
                    <a class='btn sm' ng-show='show_date_picker && !filteredDate' ng-click='show_date_picker=false'>hide filter</a>
                    <a class='btn dangerous sm' ng-show='filteredDate' ng-click='$root.filterDate = undefined;clearFilterDate();' >clear day</a>
                    <a class='btn sm' ng-show='filteredDate && npeople > 0' href='/pdf?date={{ $root.filterDate.getFullYear() + "-" + ($root.filterDate.getMonth() + 1) + "-" + $root.filterDate.getDate() }}' target='_blank'>save <span class='tpc'>PDF</span></a>
                  </div>
                </form>
              </div>
              <div class='form-group special-group no_margin' ng-if='(!people || npeople == 0) && !updateError'>
                <p><em>There are no people scheduled for vaccination<span ng-show='filteredDate'> on the selected date</span></em>.</p>
              </div>
              <table class='no_hover scheduled' ng-if='(people && npeople > 0)' ng-class='{ "success": flash_success }'>
                <thead>
                  <tr>
                    <th class='left'>name</th>
                    <th class='left'>phone number</th>
                    <th class='left'>date of birth</th>
                    <th class='left'>appointment</th>
                    <th class='right'>&hellip;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='p in people' ng-class='{ highlight: p.expanded }' id='s{{ $index }}'>
                    <td ng-if='p.name' class='pnt' ng-click='expand($index,p)'>
                      {{ p.name }} <span ng-if='p.first_dose_receipt_recorded' class='float_right circle_word no_height'>dose 2</span>
                    </td>
                    <td ng-if='p.name'>{{ p.phone_national }}</td>
                    <td ng-if='p.name && p.dob'>{{ p.dob | date: 'd MMM yyyy' }}</td>
                    <td ng-if='p.name && !p.dob' class='no_value'>&ndash;</td>
                    <td ng-if='p.name && !p.first_dose_receipt_recorded'>{{ p.first_dose_dt }}</td>
                    <td ng-if='p.name && p.first_dose_receipt_recorded'><span class='circle_word no_height' ng-if='p.name && p.filter_date_first_dose_delta === 0 && $root.filterDate'>dose 2</span> {{ p.second_dose_dt }}
                      <div class='extra_dose' ng-if='p.name && p.filter_date_first_dose_delta === 0 && $root.filterDate'><span class='circle_word no_height'>dose 1</span> {{ p.first_dose_dt }}</div>
                    </td>
                    <td ng-if='p.name' class='nowrap right expand_button'>
                      <a ng-click='expand($index,p)' class='btn smsm' ng-class='{ active: p.expanded }'><span ng-show='!p.expanded'>&plus;</span><span ng-show='p.expanded'>&minus;</span> expand</a>
                    </td>
                    <td ng-show='!p.name' colspan='5' class='special_td'>
                      <form ng-submit='recordDose($index-1)'>
                        <div class='form-group'>
                          <p>Record created {{ people[$index-1].ts }} by <span class='nowrap'>{{ people[$index-1].author }}</span>. {{ people[$index-1].name }} (<span ng-show='!people[$index-1].patient'>not </span>a PFHC patient) was scheduled for this appointment on {{ people[$index-1].scheduled_since }}.</p>
                        </div>
                        <div ng-if='people[$index-1].justification' class='form-group'>
                          <p>Notes or eligibility justification provided: <em>{{ people[$index-1].justification }}</em></p>
                        </div>
                        <div class='form-group'>
                          <p ng-if='!people[$index-1].first_dose_receipt_recorded'>This appointment is for their first dose.</p>
                          <p ng-if='people[$index-1].first_dose_receipt_recorded'>This appointment is for their second dose. Their appointment for their first dose was {{ people[$index-1].first_dose_dt }}. Their receipt of the first dose was recorded by <span class='nowrap'>{{ people[$index-1].first_dose_author }}</span> on {{ people[$index-1].first_dose_receipt_recorded }}.</p>
                        </div>
                        <div class='form-group' ng-show='!people[$index-1].first_dose_receipt_recorded'>
                          <label>For the vaccine being administered, is a second dose required?</label>
                          <div class='settings_group'>
                            <div class='flex_options' ng-init='people[$index-1].single_dose = false'>
                              <div class='flex_option auto_width' ng-class='{ no_margin: people[$index-1].show_change_name }'>
                                <span class='black' ng-class='{ active: !people[$index-1].single_dose }' ng-click='people[$index-1].single_dose = false'>yes; Pfizer-BioNTech, Moderna</span>
                              </div>
                              <div class='flex_option auto_width'>
                                <span class='black' ng-class='{ active: people[$index-1].single_dose }' ng-click='people[$index-1].single_dose = true'>no; J&amp;J/Janssen, 1st dose elsewhere</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class='form-group optional-group' ng-show='people[$index-1].show_change_name'>
                          <div class='form-group'>
                            <label for='new_name'>Please edit the curent name:</label>
                            <input id='new_name' type='text' ng-init='people[$index-1].new_name=people[$index-1].name' ng-model='people[$index-1].new_name' placeholder='Given name then family name.' required />
                          </div>
                          <div class='form-group'>
                            <label for='new_phone'>Please edit the curent phone number:</label>
                            <input id='new_phone' type='tel' ng-init='people[$index-1].new_phone=people[$index-1].phone_national' ng-model='people[$index-1].new_phone' placeholder='Be sure to include the regional indicative.' required />
                          </div>
                          <div class='form-group' ng-class='{ success: change_result.ok == 1, error: change_result.ok !== 1 }' ng-show='change_result'>
                            {{ change_result.message  }}
                          </div>
                          <div class='form-group no_margin'>
                            <button type='button' class='success' ng-click='saveNewInfo($index-1)' ng-disabled='!people[$index-1].new_name || people[$index-1].new_name===people[$index-1].name && (!people[$index-1].new_phone || people[$index-1].new_phone === people[$index-1].phone)'>save info</button>
                            <button type='button' ng-click='people[$index-1].show_change_name=false'>cancel</button>
                          </div>
                        </div>
                        <div class='form-group flex-group' ng-class='{ no_margin: !result }'>
                          <div class='flex-group-item'>
                            <input type='submit' value='given dose' />
                          </div>
                          <div class='flex-group-item'>
                            <button type='button' ng-show='!people[$index-1].show_change_name' ng-click='people[$index-1].show_change_name=true'>edit info</button>
                            <button type='button' ng-click='moveToWaiting($index-1)'>reschedule</button>
                            <button ng-show='!people[$index-1].confirm_delete' class='dangerous' type='button' ng-click='people[$index-1].confirm_delete=true'>delete</button>
                            <button ng-show='people[$index-1].confirm_delete' class='dangerous' type='button' ng-click='deletePerson($index-1)'>confirm</button>
                          </div>
                        </div>
                        <div ng-show='result' class='form-group no_margin' ng-class='{ success: result.ok == 1, error: result.ok !== 1 }'>
                          <p>{{ result.message }}.</p>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class='table_controls' ng-if='npeople > $root.pageSize'>
                <button class='previous btn smsm ns' ng-disabled='page == 0' ng-click='changePage(-1)'>previous</button>
                <span class='navnumbers'>
                  <span class='desktop' ng-if='page > 9 && pages.length > 10'><span class='page_jumper' ng-click='changePage(-10)'>back 10</span>&nbsp;&middot;&nbsp;</span>
                  <span class='current_page'>{{ page + 1 }}</span>
                  &nbsp;of&nbsp;
                  <span ng-class='{ page_jumper: page < pages.length - 1 }' ng-click='changePage(pages.length - 1 - page)'>{{ pages.length }}</span>
                  <span ng-if='page === pages.length - 1 && pages.length > 3'>&nbsp;&middot;&nbsp;<a ng-click='changePage(-1 * (pages.length - 1))'>go to first</a></span>
                  <span class='desktop' ng-if='page < pages.length - 1 - 10'>&nbsp;&middot;&nbsp;<span class='page_jumper' ng-click='changePage(10)'>skip 10</span></span>
                </span>
                <button class='next btn smsm ns' ng-disabled='page >= (pages.length - 1)' ng-click='changePage(1)'>next</button>
              </div>

              <div id='appointment_chart_container'>
                <div id='appointment_chart' style='width:100%;max-height:150px'></div>
              </div>

            </div>
          </div>
        </div>
      </li>

      <li class='item no_action' ng-controller='VaccinatedController'>
        <div class='wrap'>
          <div class='admin_blocks'>
            <p ng-if='!updateError'><span class='circle_word numbers'>{{ npeople }}</span> persons <strong ng-if='$root.searched'>matching your search </strong>have been fully vaccinated.
            <span class='float_right circle_word'>end</span></p>
            <div class='form-group error no_margin' ng-if='updateError'>
              <p>{{ updateError }}</p>
            </div>
            <table ng-show='people' class='no_hover vaccinated'>
              <thead>
                <tr>
                  <th class='left'>name</th>
                  <th class='left'>phone number</th>
                  <th class='left'>first dose</th>
                  <th class='left'>second dose</th>
                  <th class='right'>&hellip;</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='p in people'>
                  <td>{{ p.name }}</td>
                  <td>{{ p.phone_national }}</td>
                  <td>{{ p.first_dose_dt }}</td>
                  <td ng-if='!p.single_dose'>
                    {{ p.second_dose_dt }}
                  </td>
                  <td ng-if='p.single_dose' class='no_value'>
                    &ndash;
                  </td>
                  <td class='right'>
                    <a ng-click='unsetDose(p)' class='btn smsm nowrap'>
                      unset <span ng-show='p.single_dose'>single dose</span>
                            <span ng-show='!p.single_dose'>dose 2</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </li>


      {% endraw %}
    </ul>


    {% raw %}
    <div class='site_alert bottom' ng-if='!cookies.edit_tip'>
      <div class='title'>Names and phone numbers can now be edited.</div>
      <div class='close ns' ng-click='dismissAlert("edit_tip")'>
        &times;
      </div>
      <div class='body'>
        In the &lsquo;scheduled for vaccination&rsquo; step, click &lsquo;edit info&rsquo; within a record to modify the person&rsquo;s name or phone number.
      </div>
    </div>


    <div id='search' ng-if='$root.show_search' ng-class='{ enter_more: show_search && search && search.length < 3, click_search: show_search && search && search.length > 2, search: show_search && searched && (searched === search) }'>
      <form ng-submit='toggleSearch(1)'>
        <input id='search_field' ng-init='$root.search=""' ng-model='$root.search' ng-change='$root.searchChange()' type='text' placeholder='enter a phone number or name' />
      </form>
    </div>
    <div id='loupe' ng-click='toggleSearch()' ng-class='{ active: show_search && !(search && search.length > 2) || (searched && search === searched) }'>
    </div>
    <div title='close search' ng-class='{ has_alert: show_search }' ng-show='show_search && !searched' ng-click='show_search=false' id='search_cover'></div>

    <div title='dismiss alert' ng-class='{ has_alert: $root.show_elig }' ng-show='$root.show_elig' ng-click='$root.show_elig = false' id='alert_cover'></div>
    <div title='dismiss alert' ng-class='{ has_alert: $root.show_elig }' id='close_alert' ng-if='$root.show_elig' ng-click='$root.show_elig = false'>
      <span class='close ns'></span>
    </div>
    {% endraw %}
    <div id='alert' ng-class='{ has_alert: $root.show_elig }' ng-if='$root.show_elig'>
      {% include 'phase.html' %}
    </div>


  </div>
</article>
<script>
  var ALERTS = [
    'edit_tip',
    //'search_tip',
    //'print_tip'
  ];
</script>

{% endblock %}
