
{% extends 'base.html' %}
{% block content %}
<header class='ns'>
  {% include 'admin_header.html' %}
</header>
<article class='no_footer'>
  <div class='wrap'>
    <table id='generous'>
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Phone number</th>
          <th>Next dose</th>
          <th>Dose 1</th>
          <th>Dose 2</th>
        </tr>
      </thead>
    </table>
  </div>
</article>
{% endblock %}
